/* トップページ用のCSS */

/* プロフィールを更新しましたメッセージ */
.alert-success{
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

/* おすすめ、マイリストの全体フォーム */
.coachtech__content-second {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1512px;
    width: 100%;
}

/* おすすめ、マイリスト選択された方のみ */
.coachtech__button-submit-second.active {
    color: red;
}

/* おすすめ、マイリストの選択されていない方 */
.coachtech__button-submit-second {
    padding: 5px;
    width: 155px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #5F5F5F;
    cursor: pointer;
    text-decoration: none;
    margin-left: 90px;
    margin-right: -50px;

    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
}

/* おすすめ、マイリストのアンダーライン */
.coachtech__tab-buttons {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    width: 100%;
    border-bottom: 2px solid #5F5F5F
}

/* ログイン前マイリスト表示した際に表示するメッセージ */
.show_message {
    color: red;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin: 0 auto;
}

.item {
    width: 100%;
    /* height: 793px; */
    margin-left: 20px;
    margin-top: 30px;
}

/* 上下それぞれのアイテムの列 */
.item-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 40px 60px;
}

/* PC用のCSS */
.item-card-link {
    width: 290px;
    margin: 0;
    text-decoration: none;
}

.item-card {
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 4px;
    position: relative;
    width: 100%;
}

/* 商品画像 */
.item-image {
    width: 100%;
    border-radius: 4px;
}

/* 商品名 */
.title {
    width: 100%;
    color: #000000;
    font-family: Inter;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.sold_label {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) rotate(-30deg);
    background: rgba(255, 0, 0, 0.8);;
    text-align: center;
    color: white;
    font-size: 86px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 10;
    pointer-events: none;
}

/* タブレット（768-850px）対応 */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .item-row {
        justify-content: space-between;
        gap: 20px;
    }

    .item-card-link {
        width: calc(50% - 10px);
        margin: 0;
    }

    .item-card{
        width: 90%;
        height: 90%;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .item-image {
        width: 100%;
        height: 90%;
        border-radius: 4px;
        padding-bottom: 10px;
    }
    .title-header {
        margin-top: 0;
    }

}

/* スマホ（767px以下）対応 */
@media screen and (max-width: 767px) {

    /* おすすめ・マイリスト（選択されていない方） */
    .coachtech__button-submit-second {
        font-size: 16px;
        width: 120px;
        height: 35px;
        margin: 0 5px;
        padding: 5px;
        text-align: center;
    }

    /* おすすめ・マイリストタブ */
    .coachtech__tab-buttons {
        align-items: center;
    }

    /* 商品画像・商品名の全体フォーム */
    .item {
        margin-left: 0;
        margin-top: 20px;
    }

    /* 商品画像・商品名の列 */
    .item-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .item-card-link {
        width: 45%;
        height: auto;
        margin: 0;
        text-decoration: none;
    }

    .item-card {
        width: 100%;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 4px;
    }

    .item-card img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        padding-bottom: 10px;
    }
    
    .title-header {
        margin: 5px 0;
    }

    .title {
        font-size: 18px;
        color: #000000;
    }
}