/* プロフィール画面(マイページ)のCSS */
body {
    font-family: Inter;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

/* 商品を出品しましたメッセージ */
.alert-success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

/* ユーザー画像、名前、評価、プロフィールを編集ボタンのフォーム */
.profile {
    width: 130px;
    display: flex;
    align-items: center; /* 横並びにし、縦中央揃え */
    justify-content: space-between; /* ヘッダー部分を左右に分ける */
    margin: 50px auto; /* 上下のマージン調整 */
    width: 800px;
}

/* ユーザー画像 */
.user_icon {
    width: 100px; /* アイコンのサイズ */
    height: 100px;
    border-radius: 50%; /* 丸型にする */
    margin-right: 10px; /* アイコンと名前、評価の間隔を10px */
}

/* 名前と評価部分 */
.user-form {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1; /* 名前と評価部分がスペースを埋めるようにする */
}

/* 名前 */
.user_name {
    font-size: 30px;
    font-weight: 700;
}

/* 評価 */
.rating {
    font-size: 30px;
}

/* 評価（星）の色を設定 */
.rating .star.filled {
    color: #FFF048;
}

/* 塗りつぶされていない星の色 */
.rating .star {
    color: #D9D9D9
}

/* プロフィールを編集ボタンのリンク */
.edit_link {
    display: flex;
    justify-content: flex-end; /* 右端に寄せる */
    text-decoration: none; /* アンダーラインを消す */
}

/* プロフィールを編集ボタン */
.profile_edit_button {
    font-weight: 700;
    font-size: 18px;
    color: #FF5555;
    background: #fff;
    border: 2px solid #FF5555;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

/* 出品した商品、購入した商品のフォーム */
.item__tab-buttons {
    border-bottom: 2px solid #5F5F5F;
    display: flex;
    justify-content: left;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: right;
}

/* 出品した商品、購入した商品（選択した方） */
.item__button-submit-second.active {
    color: #FF0000;
}

/* 出品した商品、購入した商品（選択していない方） */
.item__button-submit-second {
    color: #5F5F5F;
    text-decoration: none;
    padding: 20px 30px;
}

/* 商品一覧1列のフォーム */
.item-row {
    width: 100%;
    /* height: 320px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    margin: 21px;
}

/* 商品カードのリンク */
.item-card-link {
    text-decoration: none;
    width: 290px;
    height: 320px;
    margin: 24px;
}

/* 商品カード（1つずつ） */
.item-card {
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 4px;
}

/* 商品画像 */
.item-image {
    width: 290px;
    height: 290px;
    border-radius: 4px;
}

/* 商品名のフォーム */
.title-header {
    margin: 0;
    display: flex;
    justify-content: left;
    margin: 0 10px;
}

/* 商品名 */
.item-title {
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: #000000;
}

/* タブレット（768-850px）対応 */
@media screen and (min-width: 768px) and (max-width: 850px) {

    /* ユーザー画像、名前、プロフィールを編集ボタンのフォーム */
    .profile {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 50px 0;
    }

    /* ユーザー画像 */
    .user_icon {
        width: 105px;
        height: 105px;
    }

    /* 名前 */
    .user_name {
        font-size: 25px;
        width: 175px;
        height: 46px;
    }

    /* プロフィールを編集ボタン */
    .profile_edit_button {
        font-size: 18px;
        width: 217px;
        height: 41px;
    }

    /* タブのフォーム */
    .item__tab-buttons {
        padding: 0 90px;
    }

    /* 選択済みタブ、未選択タブ */
    .item__button-submit-second.active,
    .item__button-submit-second {
        font-size: 17px;
        padding: 14px 21px;
    }

    /* 商品カードのフォーム */
    .item-card-link {
        width: 203px;
        height: 224px;
        margin: 17px;
    }

    /* 商品画像 */
    .item-image {
        width: 203px;
        height: 203px;
    }

    /* 商品名 */
    .item-title {
        font-size: 18px;
    }
}

/* スマホ（767px以下）対応 */
@media screen and (max-width: 767px) {

    /* ユーザー画像、名前、プロフィールを編集ボタン */
    .profile {
        margin: 20px 60px;
    }

    /* ユーザー画像 */
    .user_icon {
        width: 75px;
        height: 75px;
    }

    /* 名前 */
    .user_name {
        width: 125px;
        height: 33px;
        font-size: 18px;
    }

    /* プロフィールを編集ボタン */
    .profile_edit_button {
        font-size: 13px;
        width: 155px;
        height: 30px;
    }

    /* タブのフォーム */
    .item__tab-buttons {
        padding: 0 65px;
        border-bottom: 1px solid #5F5F5F;
    }

    /* 選択済みタブ、未選択タブ */
    .item__button-submit-second.active,
    .item__button-submit-second {
        font-size: 12px;
        padding: 10px 15px;
    }

    /* 商品カードのフォーム */
    .item-card-link {
        width: 145px;
        height: 160px;
        margin: 12px;
    }

    /* 商品画像 */
    .item-image {
        width: 145px;
        height: 145px;
    }

    /* 商品名 */
    .item-title {
        font-size: 13px;
    }
}