/* 取引チャット画面 */
main {
    max-width: 1512px;
    max-height: 982px;
}

/* 全体レイアウト */
.transaction-container {
    max-width: 1512px;
    width: 100%;
    max-height: 902px;
    height: 902px;
    display: flex;
    background-color: #f7f8fa;
    overflow: hidden;
}

/* 左側：その他の取引リスト */
.transaction-list {
    max-width: 259px;
    width: 21%;
    max-height: 902px;
    background-color: #868686;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding: 20px;
}

/* その他の取引 */
.list-title {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 10%;
    color: #FFFFFF;
}

.item-card-link {
    text-decoration: none;
    color: inherit;
}

/* 取引中の商品名 */
.item-card {
    background-color: #EEEFEB;
    max-width: 197px;
    width: 76%;
    max-height: 40px;
    height: 4%;
    top: 185px;
    left: 29px;
    border-radius: 5px;
    opacity: 1;
    margin-bottom: 10px;
    position: relative;
    transition: all 0.2s ease;
}

.item-card:hover {
    background: #f0f0f0;
    transform: translateY(-2px);
}

/* その他の取引の商品名 */
.other-item-title {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

/* 右側：取引エリア */
.transaction-area {
    max-width: 1512px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

/* ユーザーアイコン・タイトル・取引を完了するボタンまでのform */
.profile-form {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #5F5F5F;
    margin-top: 0;
}

/* ユーザーアイコン */
.profile-image {
    max-width: 79px;
    width: 100%;
    max-height: 79px;
    height: 100%;
    margin-left: 37px;
    opacity: 1;
}

/* 「ユーザー名」さんとの取引画面 */
.transaction-title {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px 13px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

/* 取引を完了するボタン */
.finish-button {
    max-width: 172px;
    width: 100%;
    max-height: 54px;
    height: 100%;
    margin: auto 41px auto auto;
    border-radius: 30px;
    opacity: 1;
    border: none;
    background-color: #FF8282;
}

.finish-button-text {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-top: 15px;
}

/* 商品画像・商品名 */
.item-header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #5F5F5F;
    padding: 16px 0 ;
}

/* 商品画像 */
.item-image {
    max-width: 203px;
    width: 90%;
    max-height: 206px;
    height: 90%;
    opacity: 1;
    margin: 0 40px;
}

/* 商品名 */
.item-title {
    margin: 41px 0 31px 0;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

/* 商品価格 */
.item-price {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}

/* メッセージ表示エリア */
.messages-container {
    padding: 28px 25px;
    max-height: 472px;
    /* 必要に応じて調整 */
    overflow-y: auto;
    /* 縦方向のスクロールを有効にする */
}

/* 送信済みメッセージのフォーム（ユーザー名・アイコン・メッセージ・編集・削除ボタン） */
.sent-messages {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* 送信済みメッセージ内ユーザー情報 */
.message-user {
    display: flex;
    align-items: center;
}

/* ユーザーアイコン */
.user-icon {
    max-width: 60px;
    width: 100%;
    max-height: 60px;
    height: 100%;
    margin-right: 21px;
    opacity: 1;
}

/* ユーザー名 */
.user-name {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

/* 自分のメッセージ */
.my-message {
    width: 461px;
    margin: 0 0 0 auto;/* 右揃えに配置 */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* 相手のメッセージ */
.other-message {
    width: 461px;
    margin: auto 0 0 0; /* 左揃えに配置 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* 取引メッセージ */
.transaction-message {
    max-width: 461px;
    width: 100%;
    max-height: 60px;
    height: 100%;
    margin-top: 5px;
    border-radius: 4px;
    opacity: 1;
    background-color: #D9D9D9;
}

/* 取引メッセージ画像 */
.message-image {
    max-width: 461px;
    width: 30%;
    max-height: 461px;
    height: 30%;
    margin-top: 5px;
}

/* 編集・削除ボタンのフォーム */
.message-actions {
    max-width: 461px;
    width: 100%;
    text-align: end;
}

/* 編集・削除ボタン */
.edit-btn,
.delete-btn {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5F5F5F;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    background-color: transparent;
}


/* メッセージ入力フォーム */
.message-form {
    display: flex;
    align-items: flex-start;
    padding: 0 27px 3px 27px;
    gap: 10px;
}

/* メッセージ入力欄 */
.message-input {
    max-width: 100%;
    width: 100%;
    max-height: 44px;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    padding: 6px 15px;
    box-sizing: border-box;
    resize: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.alert-danger {
    color: red;
        font-size: 14px;
        margin: 5px 0 10px 5px;
        width: 100%;
}

.add-image {
    max-width: 143px;
    width: 100%;
    height: 44px;
    border-radius: 10px;
    border: 2px solid #FF5555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF5555;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
}


/* メッセージ送信画像 */
.sent-button {
    border: none;
    padding: 0 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 60px;
    height: 44px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-image: url("/storage/images/inputbutton.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

/* モーダル背景 */
.modal-overlay {
    position: fixed;
    width: 598px;
    height: 367px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 378px;
    left: 568px;
    border-radius: 15px;
    border-width: 1px;
}

/* モーダル中身 */
.modal-content {
    max-width: 598px;
    width: 100%;
    max-height: 367px;
    height: 100%;
    border-radius: 15px;
    border-width: 1px;
    opacity: 1;
    background: #FDFCE6;
    border: 1px solid #000000;
}

/* 取引が完了しました */
.modal-message {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-left: 23px;
    padding-bottom: 19px;
    border-bottom: 1px solid #000000;
}

/* 読点 */
.message-end {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

/* 今回の取引相手はどうでしたか？ */
.modal-questions {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #868686;
    padding-left: 23px;
    margin-bottom: 0;
}

/* 評価のフォーム */
.rating {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse; /* 右から並べる */
    border-bottom: 1px solid #000000;
}

/* ラジオボタン非表示 */
.rating input {
    display: none;
}

/* 星評価 */
.rating-star {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    opacity: 1;
}

.rating label {
    color: #D9D9D9;
    cursor: pointer;
    transition: color 0.2s;
    font-size: 90px;
    padding: 0 9px;
}

/* チェックした状態の星に色付け */
.rating input:checked~label {
    color: #FFF048;
}

/* ラジオボタン非表示 */
.rating input {
    display: none;
}

/* チェックした状態の星に色付け */
.rating input:checked~label {
    color: #FFF048;
}

/* 送信するボタン */
.submit-rating {
    max-width: 127px;
    width: 100%;
    max-height: 49px;
    height: 100%;
    border-radius: 5px;
    opacity: 1;
    margin-right: 0;
    border: none;
    background-color: #FF8282;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    margin: 14px;
    padding: 15px;
}

/* 評価フォーム */
.review-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* 星は中央、ボタンは右にしたいので後で上書き */
}

/* 星評価だけ中央寄せに戻す */
.review-form .rating {
    align-self: center;
    /* 星だけ中央寄せ */
}

/* タブレット（768-850px）対応 */
@media screen and (max-width: 850px) and (min-width: 768px) {
    .transaction-list {
        padding: 15px;
    }
    .list-title,
    .other-item-title {
        font-size: 17px;
    }
    .profile-image {
        width: 55px;
        height: 55px;
        margin-left: 11px;
    }

    .transaction-title {
        margin-left: 0px;
        font-size: 22px;
    }

    .finish-button {
        width: 100px;
        height: 28px;
        margin: auto 18px auto auto;
        border-radius: 23px;
    }

    .finish-button-text {
        margin-top: 8px;
        font-size: 10px;
    }

    .item-header {
        padding: 8px 0;
    }

    .item-image {
        width: 100px;
        height: 104px;
    }

    .item-title {
        margin: 17px 0 0 0;
        font-size: 28px;
    }

    .item-price {
        font-size: 28px;
        margin: 15px 0;
    }

    .messages-container {
        max-height: 600px;
    }

    .my-message {
        width: 300px;
    }
    .user-icon {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }

    .user-name {
        font-size: 15px;
    }

    .transaction-message {
        width: 300px;
        margin-bottom: -3px;
    }

    .edit-btn,
    .delete-btn {
        font-size: 11px;
    }

    .message-input {
        width: 80%;
        height: 33px;
        font-size: 15px;
    }

    .add-image {
        width: 107px;
        height: 33px;
        border-radius: 8px;
        font-size: 15px;
    }

    .sent-button {
        width: 45px;
        height: 33px;
    }
}